.btn {
    margin: 1rem;
    padding: .5rem .8rem .5rem .8rem;
    border-radius: .5rem;
    font-family: 'Caviar';
    font-size: 1rem;
    font-weight: bold;
    min-width: 6rem;
    background-color: #ff7a7a;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    transition: min-width 0.1s;
}

.btn:hover {
    transition: min-width 0.1s, width 0.1s;
    background-color: #ff5c5c;
    min-width: 7rem;    
}