.container {
    width: 75%;
    /* min-width: 350px; */
    max-width: 65rem;
    margin: auto;

    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;

}

.about_article {
    float: right;
    text-align: left;
    width: 39vw;
    max-width: 34rem;
}


.heading_text {
    font-family: 'FreeHand';
    margin: 0;
    font-size: 3rem;
    text-align: center;
}

.body_text {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
    margin: 1rem 0 0 0;
    color: rgb(34, 34, 34);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body_text a {
    color: rgb(131, 131, 131);
    font-weight: bold;
    text-decoration: none;
}


.corner_img {
    height: 24rem;
    width: 20.6rem;
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;

    background-image: url('../../assets/art.png');
    background-repeat: no-repeat;
    background-size: contain;
}


/* Responsive */

@media only screen and (max-width: 1288px) {
    .contacts div {
        padding-top: 2rem;
    }

    .about_article {
        float: none;
        margin: auto;
        text-align: justify;
        width: 80%;
    }
}
