.container {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;

    z-index: 10;
    position: relative;
    box-shadow: 8px 15px 24px rgba(78, 78, 78, 0.5);
    float: left;
    margin: 2rem;
}

.segment {
    z-index: 0;
    position: absolute;
    left: 12.5rem;
    top: 12.5rem;

    width: 12.5rem;
    height: 12.5rem;
    transform-origin: 0 0;

    /* border */
    border: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 8px;

    background-color: rgb(198, 217, 216);
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.segment:hover {
    transition: all 0.1s;
    background-color: rgba(189, 189, 189, 0.671);
    cursor: pointer;
}

.segment_texts {
    position: absolute;
    height: 12rem;
    width: 25rem;
    transform-origin: bottom;
    font-size: 1.5rem;
    pointer-events: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

.my_img {
    width: 18.5rem;
    height: 18.5rem;
    position: absolute;

    border: solid;
    border-radius: 50%;
    border-width: 3px;
    border-color: white;

    background-color: white;
    right: 50px;
    bottom: 50px;

    background-image: url('./../assets/img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Responsive */
@media only screen and (max-width: 1288px) {
    .container {
        float: none;
        margin: auto;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        width: 17rem;
        height: 17rem;
        z-index: 0;
    }
    .my_img{
        width: 10.5rem;
        height: 10.5rem;
    }
    .segment{
        left: 8.5rem;
        top: 8.5rem;
        width: 8.5rem;
        height: 8.5rem;
    }
    .segment_texts{
         height: 8.2rem;
         width: 17rem;
         font-size: 1.2rem;
    }
}