.card {
    height: 11rem;
    width: 17rem;
    overflow: hidden;
    border-radius: 1rem;
    display: inline-block;
    margin: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

    -webkit-transition: box-shadow 0.1s ease, background-size .25s;
    -moz-transition: box-shadow 0.1s ease, background-size .25s;
    -o-transition: box-shadow 0.1s ease, background-size .25s;
    transition: box-shadow 0.1s ease, background-size .25s ;    
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-size: auto 110%;
}

.container {
    margin: 5rem auto 0 auto;
    width: 76%;
    max-width: 65rem;
    text-align: center;
    min-width: 20rem;
}