body {
    margin: 0;
    padding: 0;
    font-family: 'Caviar';
    background: #fffae1b8;
}

@font-face {
    font-family: 'freeHand';
    font-style: normal;
    font-weight: normal;
    src: url('../src/assets/fonts/Freehand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Caviar';
    font-style: normal;
    font-weight: normal;
    src: url('../src/assets/fonts/Comfortaa-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Caviar';
    font-style: normal;
    font-weight: bold;
    src: url('../src/assets/fonts/Comfortaa-Bold.ttf') format('truetype');
}